@model HttpPostedFileBase

<div class="input-group mb-3">
	<div class="custom-file">
		<input type="file" class="custom-file-input" name="@ViewData.TemplateInfo.HtmlFieldPrefix" id="@ViewData.TemplateInfo.HtmlFieldPrefix" single accept="image/*" />
		<label class="custom-file-label" for="@ViewData.TemplateInfo.HtmlFieldPrefix">Izaberite sliku</label>
	</div>
</div>
