<div class="modal" tabindex="-1" role="dialog" id="addModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @*<form action="/umbraco/surface/Players/AddPlayer" method="POST">*@
            @using (Html.BeginUmbracoForm("AddReferee", "Referees"))
            {

                <div class="modal-header">
                    <h5 class="modal-title">Dodavanje liga</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.Hidden("Id", null, new { id = "leagueId" })
                        <div class="form-group">
                            <label for="name" class="control-label col-md-8">Ime Sudije</label>
                            <div class="col-md-10">
                                @Html.TextBox("Name", null, new { @class = "form-control", id = "name" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="name" class="control-label col-md-8">Prezime Sudije</label>
                            <div class="col-md-10">
                                @Html.TextBox("LastName", null, new { @class = "form-control", id = "lastname" })
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary green-save-button"><i class="fa fa-fw fa-save"></i>Dodaj</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-fw fa-close"></i> Zatvori</button>
                </div>
            }
        </div>
    </div>
</div>

