@inherits UmbracoViewPage<ResultsSectionModel>

<div class="results">
	<div class="wrap">
	@if (Model.Title.HasValue())
	{
		<div class="title">
			<h2>@Model.Title</h2>
		</div>
	}
	@if (Model.RoundName.HasValue() && Model.SeasonYearStart.HasValue())
	{
		<div class="row">
		<div class="col-lg-2">
			<div class="round">
				<span class="number">@Model.RoundName</span>
				<span>@UmbracoDictionary.Shared.Round</span>
			</div>
		</div>
		@{Html.RenderAction<ManagementHtmlController>(c => c.GameResults(0, null, null), Model.SeasonYearStart, Model.RoundName, Model.LeagueName);}
		</div>
	}
		<div class="popup-overlay" data-popup-window="result-popup">
			<div class="popup">
				<button type="button" class="btn-close js-close-popup"><span class="font-ico-x"></span></button>
				<div class="popup-placeholder">
					<!-- this is dynamically populated -->
				</div>
			</div>
		</div>
	</div>
</div>

