@inherits UmbracoViewPage<HomeModel>

<main class="main" data-template-name="">
	<div class="banner-home" role="banner">
		<div class="wrap">
			<div class="banner-title">
				@if (Model.BannerTitleExists)
				{
					<h1>@Model.PreBannerTitle <span class="orange">@Model.BannerTitle</span> @Model.PostBannerTitle</h1>
				}
			</div>
		</div>
	</div>
	@if (Model.Sections.HasValue())
	{
		foreach (var section in Model.Sections)
		{
			Html.RenderAction<NestedContentController>(c => c.Render(null), section);
		}
	}

</main>