@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

<div class="form-container">
    <form  method="post" enctype="multipart/form-data">
        <input type="file" name="files" multiple="multiple" id="files"/>
        <input type="submit" value="Upload" class="save" id="btnid" />
    </form>
</div>