@model IEnumerable<LZRNS.DomainModel.Models.League>

@{
    Layout = "Partials/Shared/_ManagmentLayout.cshtml";
    ViewBag.Title = "Lige";
}
<p>
    <button class="open-add-modal btn btn-primary">Dodaj novu ligu</button>
</p>
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Lige
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Naziv lige
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="open-edit-modal" data-id="@item.Id" data-name="@item.Name">
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">LZRNS - administracija liga</div>
</div>

@{Html.RenderPartial("/Views/Partials/EditEntities/_EditLeague.cshtml");}
@{Html.RenderPartial("/Views/Partials/AddEntities/_AddLeague.cshtml");}
@{Html.RenderPartial("/Views/Partials/DeleteEntities/_DeleteLeague.cshtml");}




@section styles {
    <link href="~/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
}
@section scripts {
    <script>
        $('.open-edit-modal').dblclick(function () {
            var _self = $(this);

            $('#leagueId').val(_self.data("id"));
            $('#name').val(_self.data("name"));

            $('#editModal').modal('toggle');
        });

        $('.open-add-modal').click(function () {
            var _self = $(this);

            $('#addModal').modal('toggle');
        });

        $('.delete-item').click(function () {
            var _self = $(this);

            var leagueId = $('#leagueId').val();
            $('#deleteFormId').val(leagueId);
            $('#itemName').text($('#name').val());
            $('#confirm-delete').modal('toggle');
        });
    </script>

}
