<?xml version="1.0" encoding="utf-8" ?>
<Configuration Version = "v1">
  <Items>
      <Item
        CellName = "vs"
        Type = "System.String"
        PropertyName ="AgainstTeam"
        ColumnId = "1"
        RowId = "1"
        GlobalField ="true"
	    />
    <!--Type = "System.DateTime" -->

    <Item
        CellName = ""
        Type = "System.DateTime"
        Format ="mm/dd/yyyy"
        PropertyName ="MatchDate"
        ColumnId = "1"
        RowId = "3"
        GlobalField ="true"
        DirectCellData ="true"
	    />
    <Item
        CellName = "Broj"
        Type = "System.Int16"
        PropertyName ="Number"
        ColumnId = "2"
        RowId = "1"
	    />
    <Item
        CellName = "Ime i prezime"
        Type = "System.String"
        PropertyName ="NameAndLastName"
        ColumnId = "3"
        RowId = "1"
	    />
    <Item
        CellName = "min"
        Type = "System.Int16"
        PropertyName ="Minutes"
        ColumnId = "4"
        RowId = "1"
	    />
    <Item
        CellName = "2pta"
        Type = "System.Int16"
        PropertyName ="PointAttempt2"
        ColumnId = "5"
        RowId = "1"
	    />
    <Item
        CellName = "2ptm"
        Type = "System.Int16"
        PropertyName ="PointMade2"
        ColumnId = "6"
        RowId = "1"
	    />
    <Item
        CellName = "3pta"
        Type = "System.Int16"
        PropertyName ="PointAttempt3"
        ColumnId = "7"
        RowId = "1"
	    />
    <Item
        CellName = "3ptm"
        Type = "System.Int16"
        PropertyName ="PointMade3"
        ColumnId = "8"
        RowId = "1"
	    />
    <Item
        CellName = "fta"
        Type = "System.Int16"
        PropertyName ="FreeThrowsAttempt"
        ColumnId = "9"
        RowId = "1"
	    />
    <Item
        CellName = "ftm"
        Type = "System.Int16"
        PropertyName ="FreeThrowsMade"
        ColumnId = "10"
        RowId = "1"
	    />
    <Item
        CellName = "oreb"
        Type = "System.Int16"
        PropertyName ="OffensiveReb"
        ColumnId = "11"
        RowId = "1"
	    />
    <Item
        CellName = "dreb"
        Type = "System.Int16"
        PropertyName ="DefensiveReb"
        ColumnId = "12"
        RowId = "1"
	    />
    <Item
        CellName = "ast"
        Type = "System.Int16"
        PropertyName ="Assistance"
        ColumnId = "13"
        RowId = "1"
	    />

    <Item
        CellName = "to"
        Type = "System.Int16"
        PropertyName ="TurnOver"
        ColumnId = "14"
        RowId = "1"
	    />
    <Item
        CellName = "stl"
        Type = "System.Int16"
        PropertyName ="Steal"
        ColumnId = "15"
        RowId = "1"
	    />
    <Item
        CellName = "blk"
        Type = "System.Int16"
        PropertyName ="Block"
        ColumnId = "16"
        RowId = "1"
	    />
    
  </Items>
</Configuration>