.open-edit-modal:hover {
    background: rgba(0,0,0,.03);
    cursor: pointer;
}

.modal-body {
    background-color: #e9ecef;
}

.modal-footer {
    background-color: #dee2e6;
}

.content-wrapper {
    background-color: #e9ecef;
}

.modal.show:not(.fade) {
    z-index: 1040;
}

.modal-backdrop.show:not(.fade) {
    z-index: 1030;
}

.modal.show.fade {
    z-index: 1060;
    top: 60px;
    left: 30px;
}

.modal-backdrop.show.fade {
    z-index: 1050;
}
