<footer class="footer" role="contentinfo">
	<div class="wrap">
		<nav class="footer-nav">
			<ul>
				<li><a class="active" href="javasript:;">Istorijat</a></li>
				<li><a href="javasript:;">O nama</a></li>
				<li><a href="javasript:;">Raspored</a></li>
				<li><a href="javasript:;">Rezultati</a></li>
				<li><a href="javasript:;">Tabela</a></li>
				<li><a href="javasript:;">Timovi</a></li>
				<li><a href="javasript:;">Igrači</a></li>
				<li><a href="javasript:;">Statistika</a></li>
				<li><a href="javasript:;">Galerija</a></li>
			</ul>
		</nav>
		<ul class="social-links">
			<li><a href="javasript:;"><span class="font-ico-fb"></span></a></li>
			<li><a href="javasript:;"><span class="font-ico-tw"></span></a></li>
			<li><a href="javasript:;"><span class="font-ico-in"></span></a></li>
		</ul>
		<p class="copyright">Copyright 2018. Liga za rekreativce Novi Sad. Sva prava zadržana.</p>
	</div>
</footer>

</body>
</html>
