<header class="header" role="banner">
	<div class="wrap">
		<a href="home.html" class="logo">
			<img src="images/logo.svg" alt="">
		</a>
		<button type="button" class="open-menu"><span class="font-ico-hamburger"></span></button>
		<nav class="main-nav">
			<ul>
				<li><a href="about.html">O nama</a></li>
				<li><a href="history.html">Istorijat</a></li>
				<li><a href="schedule-page.html">Raspored</a></li>
				<li><a href="rezultati.html">Rezultati</a></li>
				<li><a href="table-page.html">Tabela</a></li>
				<li><a href="teams-page.html">Timovi</a></li>
				<li><a href="players-page.html">Igrači</a></li>
				<li><a href="statistic-page.html">Statistika</a></li>
				<!-- <li><a href="javasript:;">Galerija</a></li> -->
			</ul>
		</nav>
	</div>
</header>
