<header class="header" role="banner">
	<div class="wrap">
		<a href="index.html" class="logo">
			<img src="images/logo.svg" alt="">
		</a>
		<button type="button" class="open-menu"><span class="font-ico-hamburger"></span></button>
		<nav class="main-nav">
			<ul>
				<li><a href="javasript:;">O nama</a></li>
				<li><a href="javasript:;">Istorijat</a></li>
				<li><a class="active" href="javasript:;">Raspored</a></li>
				<li><a href="javasript:;">Rezultati</a></li>
				<li><a href="javasript:;">Tabela</a></li>
				<li><a href="javasript:;">Timovi</a></li>
				<li><a href="javasript:;">Igrači</a></li>
				<li><a href="javasript:;">Statistika</a></li>
				<li><a href="javasript:;">Galerija</a></li>
				<li><a href="contact.html">Kontakt</a></li>
			</ul>
		</nav>
	</div>
</header>
