@using LZRNS.Models.AdditionalModels
@inherits UmbracoViewPage<SeasonLeagueTopStatsModel>
	
@if (Model.Leagues != null && Model.Leagues.Any())
{
	for (var i = 0; i < Model.Leagues.Count(); i++)
	{
		<div class="row cards @(i % 2 == 0 ? "bg-orange" : "bg-grey")" league>
			@{
				Html.RenderAction<ManagementHtmlController>(c => c.TopStatsPerLeague(null), Model.Leagues.ElementAt(i));
			}
		</div>
	}
}
