<?xml version="1.0" encoding="utf-8" ?>
<Configuration Version = "v1">
  <Items>

    <Item
        CellName = "ID"
        Type = "System.String"
        PropertyName ="UId"
        ColumnId = "1"
        RowId = "0"
	    />
    <Item
        CellName = "Ime i prezime"
        Type = "System.String"
        PropertyName ="NameAndLastName"
        ColumnId = "2"
        RowId = "0"
	    />
	<Item
        CellName = "Stari tim"
        Type = "System.String"
        PropertyName ="PreviousTeamName"
        ColumnId = "3"
        RowId = "0"
	    />
    <Item
        CellName = "Stara sezona - liga"
        Type = "System.String"
        PropertyName ="PreviousLeagueSeasonName"
        ColumnId = "4"
        RowId = "0"
	    />
		
	<Item
        CellName = "Novi tim"
        Type = "System.String"
        PropertyName ="NewTeamName"
        ColumnId = "5"
        RowId = "0"
	    />
    <Item
        CellName = "Nova sezona - liga"
        Type = "System.String"
        PropertyName ="NewLeagueSeasonName"
        ColumnId = "6"
        RowId = "0"
	    />
  </Items>
</Configuration>