@inherits UmbracoViewPage<HeaderModel>

<header class="header" role="banner">
	<div class="wrap">
		@if (Model.Logo != null && !string.IsNullOrWhiteSpace(Model.Logo.Url))
		{
			<a href="/" class="logo">
				<img src="@Model.Logo.Url" alt="">
			</a>
		}

		@if (Model.NavigationItems != null && Model.NavigationItems.Any())
		{
			<button type="button" class="open-menu"><span class="font-ico-hamburger"></span></button>
					<nav class="main-nav">
						<ul>
							@foreach (var navItem in Model.NavigationItems)
							{
								<li><a href="@navItem.Url" @(navItem.IsActivePage ? "class=active" : string.Empty)>@navItem.Title</a></li>
							}
						</ul>
					</nav>
		}
	</div>
</header>
