@inherits UmbracoViewPage<ImportModel>
@{
	Layout = "~/Views/Partials/Shared/_ManagmentLayout.cshtml";
}

<div class="form-container">
	<form method="post" enctype="multipart/form-data">
		@Html.ValidationSummary(true)
		@Html.TextBoxFor(m => m.FormModel.Files, new { @type = "file", multiple = "multiple"})
		<input type="submit" value="Upload" class="save" id="btnid"/>
	</form>
</div>