//----------  button
//------------------------------------------------------------------------------
a,
button {
	appearance: none;
	outline: none;
	@include media-breakpoint-up(lg) {
		&:focus {
			outline: 1px dashed rgba($orange, .2);
		}
	}
}

button,
input[type='button'],
input[type='submit'] {
	background: none;
	border: 0;
	cursor: pointer;
	outline: none;
	padding: 0;
	transition: opacity .2s ease-in-out;
	@include hover {
		opacity: .8;
	}
	&:focus {
		opacity: .8;
	}
}

.btn {
	background-color: $orange;
	color: $white;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	transition: 0.4s ease-out;
	border-radius: 10px;
	min-width: 90px;
	@include hover {
		opacity: .8;
	}
	&.active {
		background-color: #00bd1f;
	}
}
