$icons: (
	sprite: (width: 1812px, height: 5257px, svgPath: '../../images/sprite.svg'),
 	ico-arrow-down: (width: 10px, height: 6px, backgroundX: 0px, backgroundY: 0px),
 	ico-arrow-left: (width: 25.130000000000003px, height: 47.44px, backgroundX: 0px, backgroundY: -26px),
 	ico-arrow-right: (width: 25.130000000000003px, height: 47.44px, backgroundX: 0px, backgroundY: -94px),
 	ico-chevron-down: (width: 1000px, height: 1000px, backgroundX: 0px, backgroundY: -162px),
 	ico-dot: (width: 20.83px, height: 20.83px, backgroundX: 0px, backgroundY: -1182px),
 	ico-download: (width: 1000px, height: 1000px, backgroundX: 0px, backgroundY: -1223px),
 	ico-fb: (width: 1792px, height: 1792px, backgroundX: 0px, backgroundY: -2243px),
 	ico-hamburger: (width: 17.6px, height: 16.5px, backgroundX: 0px, backgroundY: -4055px),
 	ico-in: (width: 16px, height: 16px, backgroundX: 0px, backgroundY: -4092px),
 	ico-search: (width: 14.799999999999997px, height: 14.799999999999997px, backgroundX: 0px, backgroundY: -4128px),
 	ico-share: (width: 1000px, height: 1000px, backgroundX: 0px, backgroundY: -4163px),
 	ico-tw: (width: 16px, height: 16px, backgroundX: 0px, backgroundY: -5183px),
 	ico-x: (width: 17.6px, height: 17.6px, backgroundX: 0px, backgroundY: -5219px),
);
