//----------  main styles
//------------------------------------------------------------------------------
.friends-league {
	padding-top: 40px;
	h2 {
		display: inline-block;
		font-size: 21px;
		line-height: 1.3;
		font-weight: 700;
		text-transform: uppercase;
		position: relative;
		color: $grey-dark;
		border-bottom: 2px solid $orange;
	}
	.friends-title {
		text-align: center;
	}
}
.friends-logo {
	display: flex;
	justify-content: space-between;
	padding: 70px 0;
	img {
		width: 100%;
	}
	@include media-breakpoint-down(sm) {
		padding: 30px 0;
		display: block;
		img {
			max-width: 150px;
		}
		.image-holder {
			text-align: center;
			margin-bottom: 25px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.banner-home  {
    position: relative;
    background: url('../../images/content/header-1920.jpg') no-repeat center top;
    background-size: cover;
    height: 860px;

    @media only screen and (max-width: 1200px) {
        background: url('../../images/content/header-1366.jpg') no-repeat center top;
        height: 768px;
    }

    @media only screen and (max-width: 768px) {
        background: url('../../images/content/header-768.jpg') no-repeat center top;
        height: 461px;
    }

    @media only screen and (max-width: 576px) {
        background: url('../../images/content/header-576.jpg') no-repeat center top;
        height: 331px;
    }

    .wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
    }

    .banner-title {
        margin-top: 20%;

        @media only screen and (max-width: 1366px) {
            margin-left: 30px;
        }

        @media only screen and (max-width: 768px) {
            margin-left: 20px;
        }

        @media only screen and (max-width: 576px) {
            margin-left: 10px;
        }
    }

    h1 {
        text-transform: uppercase;
        color: $white;
        font-weight: 700;
        font-size: 78px;

        max-width: 400px;

        @media only screen and (max-width: 768px) {
            font-size: 60px;
        }

        @media only screen and (max-width: 576px) {
            font-size: 40px;
            max-width: 320px;
        }
    }
    span {
        color: $orange;
    }
}

.banner {
    background: $grey-dark;
    padding: 100px 0;
}
.schedule {
	position: relative;
	width: 100%;
	background-color: $grey;
	padding: 150px 0 100px;
	.wrap {
		position: relative;
	}
	.title {
		position: absolute;
		left: 80px;
		top: -100px;
		h2 {
			font-size: 178px;
			text-transform: uppercase;
			color: rgba($grey-light, 0.4);
			margin-bottom: 0;
			line-height: 1;
			font-weight: 800;
		}
	}
	.dates {
		display: flex;
		justify-content: space-between;
		margin-bottom: 40px;
		.date {
			padding: 15px 10px;
			position: relative;
			border: 10px;
			span {
				display: block;
				font-weight: 700;
				text-align: center;
			}
			.day {
				font-size: 40px;
			}
			&.active {
				background-color: $orange;
				&::after {
					content: '';
					display: block;
					position: absolute;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 10px 13px 0;
					border-color: $orange transparent transparent;
					bottom: -10px;
					left: 50%;
					transform: translateX(-50%);
				}
				span {
					color: $white;
				}
			}
		}
	}
	.round {
		text-align: center;
		position: absolute;
		bottom: 0;
		right: 30px;
		.number {
			font-size: 60px;
			line-height: 1.1;
			font-family: $font-ralaway;
		}
		span {
			display: block;
			text-transform: uppercase;
			font-weight: 700;
		}
	}
	.items {
		width: 100%;
		.item {
			padding: 10px 20px;
			display: flex;
			background-color: $grey-dark;
			border-radius: 5px;
			color: $white;
			margin-bottom: 3px;
			&:nth-child(even) {
				background-color: #474648;
			}
		}
		.time {
			width: 100px;
		}
		.match {
			width: calc(100% - 100px);
		}
	}
	@media only screen and (min-width: 992px) and (max-width: 1080px) {
		.title {
			h2 {
				font-size: 150px;
			}
		}
	 }
	@include media-breakpoint-down(md) {
		.title {
			h2 {
				font-size: 100px;
			}
		}
		.col-lg-5 {
			margin-bottom: 30px;
		}
		.dates {
			max-width: 500px;
			&.second-col {
				.date {
					&:first-child {
						order: 4;
					}
					&:nth-child(2) {
						order: 3;
					}
					&:nth-child(3) {
						order: 2;
					}
					&:nth-child(4) {
						order: 1;
					}
				}
			}
		}
	}
	@include media-breakpoint-down(sm) {
		.title {
			left: 20px;
			h2 {
				font-size: 46px;
			}
		}
		.round {
			bottom: 15px;
		}
		.items {
			.time {
				width: 70px;
				font-size: 12px;
			}
			.match {
				width: calc(100% - 70px);
				font-size: 12px;
			}
		}
		.dates {
			margin-bottom: 30px;
			.date {
				padding: 5px;
				.month {
					font-size: 10px;
				}
				.day {
					font-size: 21px;
				}
			}
		}
	}
}
.results {
	position: relative;
	width: 100%;
	background-color: $grey;
	padding: 150px 0 100px;
	.wrap {
		position: relative;
	}
	.title {
		position: absolute;
		left: 80px;
		top: -100px;
		h2 {
			font-size: 178px;
			text-transform: uppercase;
			color: rgba($grey-light, 0.4);
			margin-bottom: 0;
			line-height: 1;
			font-weight: 800;
		}
	}
	.round {
		text-align: center;
		position: absolute;
		bottom: 0;
		right: 30px;
		.number {
			font-size: 60px;
			line-height: 1.1;
			font-family: $font-ralaway;
		}
		span {
			display: block;
			text-transform: uppercase;
			font-weight: 700;
		}
	}
	.item {
		width: 100%;
		margin-bottom: 8px;
		cursor: pointer;
		.result-details {
			display: none;
		}
		.top {
			background-color: #231f20;
		}
		.bottom {
			background-color: $orange;
		}
		.top,
		.bottom {
			display: flex;
			color: $white;
			border-radius: 5px;
			padding: 10px 20px;
			.result {
				width: 80px;
			}
			.name {
				width: calc(100% - 80px);
			}
		}
		@include hover {
			opacity: 0.6;
		}
	}
}
