.player-info {
    background-color: #231f20;
    padding-top: 200px;
    padding-bottom: 200px;
    .main-info {
        width: 100%;
        background-color: $white;
        border-bottom: 2px solid #bcbcbc;
        padding-top: 40px;

        .name-and-team {
            width: 100%;
            background-color:  rgb(40, 40, 40);
            padding: 2px 15px;

            h4 {
                display: inline-block;
                color: $orange;
                text-transform: uppercase;
                font-size: 16px;
                margin: 0;

                &.team {
                    color: $white;
                    float: right;
                }
            }
        }

        .vitals {
            display: flex;
            padding: 10px 40px;
            justify-content: space-around;

            li {
                border-right: 1px solid #bcbcbc;
                padding: 0 15px;
                text-align: center;

                span {
                    font-weight: 700;
                }
            }
        }
    }

    .career-highs {
        background-color: $white;
        padding: 10px 40px;
        border-bottom: 2px solid #bcbcbc;

        h3 {
            color: $orange;
        }

        li {
            text-transform: uppercase;
        }
    }
}