$icons: (
	sprite: (width: 1812px, height: 5019px, svgPath: '../../images/sprite.svg'),
 	ico-chevron-down: (width: 1000px, height: 1000px, backgroundX: 0px, backgroundY: 0px),
 	ico-download: (width: 1000px, height: 1000px, backgroundX: 0px, backgroundY: -1020px),
 	ico-fb: (width: 1792px, height: 1792px, backgroundX: 0px, backgroundY: -2040px),
 	ico-hamburger: (width: 17.6px, height: 16.5px, backgroundX: 0px, backgroundY: -3852px),
 	ico-in: (width: 16px, height: 16px, backgroundX: 0px, backgroundY: -3889px),
 	ico-share: (width: 1000px, height: 1000px, backgroundX: 0px, backgroundY: -3925px),
 	ico-tw: (width: 16px, height: 16px, backgroundX: 0px, backgroundY: -4945px),
 	ico-x: (width: 17.6px, height: 17.6px, backgroundX: 0px, backgroundY: -4981px),
);
