$icons: (
	sprite: (width: 1812px, height: 5155px, svgPath: '../../images/sprite.svg'),
 	ico-arrow-left: (width: 25.130000000000003px, height: 47.44px, backgroundX: 0px, backgroundY: 0px),
 	ico-arrow-right: (width: 25.130000000000003px, height: 47.44px, backgroundX: 0px, backgroundY: -68px),
 	ico-chevron-down: (width: 1000px, height: 1000px, backgroundX: 0px, backgroundY: -136px),
 	ico-download: (width: 1000px, height: 1000px, backgroundX: 0px, backgroundY: -1156px),
 	ico-fb: (width: 1792px, height: 1792px, backgroundX: 0px, backgroundY: -2176px),
 	ico-hamburger: (width: 17.6px, height: 16.5px, backgroundX: 0px, backgroundY: -3988px),
 	ico-in: (width: 16px, height: 16px, backgroundX: 0px, backgroundY: -4025px),
 	ico-share: (width: 1000px, height: 1000px, backgroundX: 0px, backgroundY: -4061px),
 	ico-tw: (width: 16px, height: 16px, backgroundX: 0px, backgroundY: -5081px),
 	ico-x: (width: 17.6px, height: 17.6px, backgroundX: 0px, backgroundY: -5117px),
);
